/*style for header*/


.header{
	background-color: #0ea879;
}
.header a{
  color: #DDD;
}
.header .header-1{
	display: flex;
	padding: 10px;
}

}
.header-1-1{
	display: flex;
}
.header-1-1 > button{
  margin: 0;
  padding: 0;
  border: none;
  position: relative;
  left: -30px;
  background-color: #fff;
  cursor: text;
}
.header-1-1 > input{
  padding: 5px 10px;
  border-radius: 30px;
  outline: none;
}

.header-1-2{
 display: flex;
 padding: 5px 30px;
}
.header-1-2 > a{
  margin: 0px 10px;
}
.header-1-2 .sign-in{
  position: relative;
  right: -410px;
}
.header-text{
  color: white;
  position: relative;
  text-align: center;
  right: center;
  font-size: 20px;
  font-weight: bold;
}
.header-3 {
  position: relative;
  right: -380px;
  margin: 50px 15px 35px 15px;
}
.header-3-1{
  padding: 25px 50px;
  background-color:#0b7285;
  font-size: 20px;
  font-weight: bold;
  margin-right: 25px;
  border:2px solid #08505d73;
  border-radius: 7px;
}
.header-3-2{
  padding: 25px 60px;
  font-size: 20px;
  font-weight: bold;
  background-color: #74b816;
  border:2px solid #74b816e6;
  border-radius: 7px;
}
.header-4{
  position: relative;
  right: -380px;
  padding-bottom: 100px;
}
.header-4 a{
margin: 0 10px;
}
/*style for navigation*/
.navigation{
  display: flex;
  position: relative;
  right: -335px;

}
.navigation .navigation-1{
  font-size: 14px;
  padding: 3px;
  margin: 10px;
  background-color: #faf6f6;
  color: black;
  border: 1px solid #DDD;
}
.navigation .dd{
  font-size: 14px;
  padding: 3px;
  margin: 10px;
  color: black;
}
/*style for body -1*/
.body-1{
  display: flex;
  justify-content: space-evenly;
  background-color: #DDD;
  
}
.body-1 > a{
  background-color: yellow;
  height: 210px;
  width: 42%;
  border: 1px solid red;
  margin: 0 25px;
  text-align: bottom;
  background-image: 
}